* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== BASE ===== */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(206, 69, 176);
    background-color: #ffdef5;
    line-height: 1.6;
}
/* ===== CABEÇALHO E RODAPÉ ===== */

header {
    background-color: #ffb6dd;
    color: rgb(255, 255, 255);
    padding: 32px 16px;
    text-align: center;
}
footer {
    background-color: #ffb6dd;
    color: rgb(202, 39, 159);
    padding: 20px;
}
/* ===== CONTEÚDO PRINCIPAL ===== */

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
}
/* ===== MENU ===== */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: hotpink;
    text-decoration: none;
    font-weight: 550;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


header h3 {
    color: hotpink;
}
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.cartao {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

#destaque {
    background-color: #f8d7e3;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}